<%= render(HeaderBannerComponent.new) %>
<%= render(NavigationBarComponent.new) %>

<div class="first-background">
    <div class="first-div">
        <div class="first-div-left">
            <h1> The Cheapest Textbooks </h1>
            <h2> Save up to 90% on Millions Of Titles</h2>
            <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna. </p>
            <button class="main-button">Get Started ></button>
        </div>
        <div class="first-div-right">
            <img src="/assets/hero illustration.svg"/>
        </div>
    </div>
    <div class="second-div">
        <div class="second-div-left">
            <img src="/assets/Group 13597.png"/>
        </div>
        <div class="second-div-right">
            <h2> Our Commitment </h2>
            <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum </p>
            <button class="alt-button">Learn More ></button>
        </div>
    </div>
    <div class="third-div">
        <div class="third-div-row">
            <h1> Trusted By Awesome&nbsp </h1>
            <h1 id="client"> Clients </h1>
        </div>
        <div class="third-div-row">
            <img src="/assets/Binance.svg"/>
            <h2> Binance </h2>
            <img src="/assets/Layer_x0020_1.svg"/>
            <h2> Bitcoin </h2>
            <img src="/assets/solana-sol-logo.svg"/>
            <h2> Solana </h2>
            <img src="/assets/Ethereum.svg"/>
            <h2> Ethereum </h2>
            <img src="/assets/tether-usdt-logo.svg"/>
            <h2> Tether </h2>
            <img src="/assets/Layer 2.svg"/>
            <h2> XRP </h2>
        </div>
    </div>
</div>

<div class="second-background">
    <div class="first-div">
        <h1> Explore Our Books </h1>
        <p> With our dedicated customer support team, you can rest easy knowing that we’re doing everything we can to save you time, money, and stress. </p>
    </div>
    <div class="second-div">
        <div class="book-details">
            <img src="/assets/doughnuts & Doom.png"/>
            <h2> Doughnuts And Doom </h2>
            <h3> View Book Details > </h3>
        </div>
        <div class="book-details">
            <img src="/assets/doughnuts & Doom.png"/>
            <h2> The Bend Of Luck </h2>
            <h3> View Book Details > </h3>
        </div>
        <div class="book-details">
            <img src="/assets/doughnuts & Doom.png"/>
            <h2> The Underwater Welder </h2>
            <h3> View Book Details > </h3>
        </div>
    </div>
</div>

