<div class="footer">
    <div class="first-div">
        <div class="column">
            <img src="/assets/sample logo.svg"/>
            <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod </p>
            <div class="email">
                <%= form_with do |form| %>
                    <div class="form-design">
                        <%= form.text_field :email, :class => 'text-field', placeholder: "Email" %>
                        <button type="submit">
                            <img src="/assets/Icon feather-search.svg" class="search-icon"/>
                        </button>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="column">
            <h2> Menu </h2>
            <h4> Shop All </h4>
            <h4> About Us </h4>
            <h4> Community </h4>
            <h4> FAQs </h4>
        </div>
        <div class="column">
            <h2> Support </h2>
            <h4> Shipping & Returns </h4>
            <h4> Help & FAQ </h4>
            <h4> Terms & Conditions </h4>
            <h4> Privacy Policy </h4>
            <h4> Contact </h4>
            <h4> Login </h4>
        </div>
        <div class="column">
            <h2> Resources </h2>
            <h4> Shipping & Returns </h4>
            <h4> Help & FAQ </h4>
            <h4> Terms & Conditions </h4>
            <h4> Privacy Policy </h4>
            <h4> Contact </h4>
            <h4> Login </h4>
        </div>
        <div class="column">
            <img src="/assets/Path 335.svg" class="message"/>
        </div>
    </div>
    <div class="row">
        <div class="left">
            <h3> © 2022 Brainly. </h3>
        </div>
        <div class="right">
            <img src="/assets/facebook (3).svg" class="social-media"/>
            <img src="/assets/linkedin (1).svg" class="social-media"/>
            <img src="/assets/Logo_00000038394049246713568260000012923108920998390947_.svg" class="social-media"/>
        </div>
    </div>
</div>