<div class="header-banner">
    <img src="/assets/27.svg" class="header-accents header-accents-left"/>
    <p class="header-text">Save up to $500 per year on millions of book titles!</p>
    <img src="/assets/26.svg" class="header-accents header-accents-right"/>
</div>
