<div class="nav-bar">
    <img src="/assets/sample logo.svg" class="logo"/>
    <%= form_with do |form| %>
        <div class="form-design">
            <button type="submit">
                <img src="/assets/Icon feather-search.svg" class="search-icon"/>
            </button>
            <%= form.text_field :search_query, :class => 'text-field', placeholder: "Search" %>
        </div>
    <% end %>
    <h4> Home </h4>
    <h4> Rent Textbooks </h4>
    <h4> Buy Textbooks </h4>
    <h4> Sell Textbooks </h4>
    <h3 class="divider"> | </h3>
    <img src="/assets/Icon feather-globe.svg" class="globe"/>
    <h4> En </h4>
    <button class="small-main-button"> Contact </button>
</div>