<%= render(HeaderComponent.new) %>

<% if flash[:notice] %>
    <div class="notification-bar">
        <div class="alert">
            <%= flash[:notice] %>
        </div>
    </div>
<% end %>

<div class="body">
    <div class="first-background">
        <div class="first-div">
            <div class="first-div-left">
                <h1> The Cheapest Textbooks </h1>
                <h2> Save up to 90% on Millions Of Titles</h2>
                <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna. </p>
                <button class="main-button">Get Started ></button>
            </div>
            <div class="first-div-right">
                <img src="/assets/hero illustration.svg"/>
            </div>
        </div>
        <div class="second-div">
            <div class="second-div-left">
                <img src="/assets/Group 13597.png"/>
            </div>
            <div class="second-div-right">
                <h2> Our Commitment </h2>
                <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum </p>
                <button class="alt-button">Learn More ></button>
            </div>
        </div>
        <div class="third-div">
            <div class="third-div-row">
                <h1> Trusted By Awesome&nbsp </h1>
                <h1 id="client"> Clients </h1>
            </div>
            <div class="third-div-row">
                <img src="/assets/Binance.svg"/>
                <h2> Binance </h2>
                <img src="/assets/Layer_x0020_1.svg"/>
                <h2> Bitcoin </h2>
                <img src="/assets/solana-sol-logo.svg"/>
                <h2> Solana </h2>
                <img src="/assets/Ethereum.svg"/>
                <h2> Ethereum </h2>
                <img src="/assets/tether-usdt-logo.svg"/>
                <h2> Tether </h2>
                <img src="/assets/Layer 2.svg"/>
                <h2> XRP </h2>
            </div>
        </div>
    </div>

    <div class="second-background">
        <div class="first-div">
            <h1> Explore Our Books </h1>
            <p> With our dedicated customer support team, you can rest easy knowing that we’re doing everything we can to save you time, money, and stress. </p>
        </div>
        <div class="second-div">
            <div class="book-details">
                <img src="/assets/doughnuts & Doom.png"/>
                <h2> Doughnuts And Doom </h2>
                <h3> View Book Details > </h3>
            </div>
            <div class="book-details">
                <img src="/assets/The Bend of Luck.png"/>
                <h2> The Bend Of Luck </h2>
                <h3> View Book Details > </h3>
            </div>
            <div class="book-details">
                <img src="/assets/The Underwater Welder.png"/>
                <h2> The Underwater Welder </h2>
                <h3> View Book Details > </h3>
            </div>
        </div>
        <div class="third-div">
            <div class="first-sub-div">
                <h3> LOREM IPSUM </h3>
                <h1> 3 Reasons To Shop With Us </h1>
            </div>
            <div class="second-sub-div">
                <div class="reasons">
                    <img src="/assets/package-box.svg"/>
                    <h2> All textbook rentals come with free return shipping. </h2>
                    <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata. </p>
                </div>
                <div class="reasons">
                    <img src="/assets/help.svg"/>
                    <h2> Dedicated customer support and help portal. </h2>
                    <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata. </p>
                </div>
                <div class="reasons">
                    <img src="/assets/piggy-bank.svg"/>
                    <h2> Buy or rent cheap textbooks & save up to $500 per year! </h2>
                    <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata. </p>
                </div>
            </div>
        </div>
        <div class="fourth-div">
            <h2> Andrew Santellan </h2>
            <h4> Product Manager, Binance </h4>
            <div class="binance">
                <img src="/assets/Group 13703.svg" class="binance-logo"/>
                <h3> Binance </h3>
            </div>
            <div class="review">
                <img src="/assets/user.png" class="icon"/>
                <h3> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </h3>
                <img src="/assets/star.svg" class="star"/>
            </div>
        </div>
    </div>
    <div class="third-background">
        <div class="first-div">
            <div class="row">
                <h1> Frequently Asked Questions </h1>
            </div>
            <div class="row">
                <h2> Dedicated customer support and help portal. </h2>
                <img src="/assets/Path 9712.svg"/>
            </div>
            <div class="row">
                <h3> With our dedicated customer support team, you can rest easy knowing that we’re doing everything we can to save you time, money, and stress. </h3>
            </div>
            <div class="row">
                <h2> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed </h2>
                <img src="/assets/Path 9713.svg"/>
            </div>
            <div class="row">
                <h2> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed </h2>
                <img src="/assets/Path 9713.svg"/>
            </div>
            <div class="row">
                <h2> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed </h2>
                <img src="/assets/Path 9713.svg"/>
            </div>
        </div>
    </div>
</div>

<%= render(FooterComponent.new) %>
