@font-face {
  font-family: "Sentic Text";
  src: font-url("/assets/sentic-text.ttf") format('truetype');
}

@font-face {
  font-family: "Sentic Text Bold";
  src: font-url("/assets/sentic-text-bold.ttf") format('truetype');
}

@font-face {
  font-family: "Patricia Gothic";
  src: font-url("/assets/patricia-gothic.ttf") format('truetype');
}

@font-face {
  font-family: "Patricia Gothic Heavy";
  src: font-url("/assets/patricia-gothic-heavy.ttf") format('truetype');
}

@font-face {
  font-family: "Lexend Bold";
  src: font-url("/assets/lexend-bold.ttf") format('truetype');
}

@font-face {
  font-family: "Caros";
  src: font-url("/assets/caros.ttf") format('truetype');
}

//------------------------------------------------------------------------------------------------------------------------------------------

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-button {
  background-color: #6160f6;
  text-align: center;
  text-decoration: none;
  font-family: 'Caros';
  font-size: 24px;
  border: 0;
  border-radius: 16px;
  color: white;
  padding: 1.25rem;
  width: 250px;
}

.small-main-button {
  background-color: #6160f6;
  text-align: center;
  text-decoration: none;
  font-family: 'Caros';
  font-size: 16px;
  border: 0;
  border-radius: 16px;
  color: white;
  padding: 1.25rem;
  width: 150px;
}

.alt-button {
  background-color: #151c55;
  text-align: center;
  text-decoration: none;
  font-family: 'Caros';
  font-size: 24px;
  border: 0;
  border-radius: 16px;
  color: #5dcef6;
  padding: 1.25rem;
  width: 250px;
}

.form-design {
  border-width: 1px;
  border-color: #6160f6;
  border-style: solid;
  border-radius: 30px;
  display: flex;
  padding: 10px;
}

form .text-field  {
  background: none;
  border: 0;
  outline:none;
}

form button {
  background: none;
  border: 0;
}

.notification-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.alert {
  text-align: center;
  padding: 10px;
  background-color: #e4cdcd;
  color: #884b48;
  font-family: "Sentic Text Bold";
  width: 200px;
  border-radius: 30px;
}

//------------------------------------------------------------------------------------------------------------------------------------------

.header-banner {
  height: 3.125rem;
  width: 100%;
  background: url("/assets/Mask Group 4.png") center repeat-x ;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}

.header-accents {
  height: 2.5rem;
  width: 2.5rem;
  padding-top: 0.3125rem;
}

.header-text {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.9375rem;
  font-size: 16px;
  font-family: 'Sentic Text';
  color: white;
}

//------------------------------------------------------------------------------------------------------------------------------------------

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 10px;
  width: 100%;
}

.nav-bar form {
  color:#151c55;
  font-family: 'Sentic Text';
  padding-right: 6%;
}

.nav-bar .search-icon {
  padding-right: 10px;
}

.nav-bar h3, h4 {
  color:#151c55;
  font-family: 'Sentic Text';
  padding-right: 3%;
}

.nav-bar .logo-div {
  padding-right: 6%;  
}

.nav-bar .logo {
  height: 60px;
}

.nav-bar .globe {
  padding-top: 5px;
  padding-right: 0.5%;
}

//------------------------------------------------------------------------------------------------------------------------------------------

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding-top: 50px;
}

.footer .first-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.footer .first-div .column {
  display: flex;
  flex-direction: column;
  align-items:baseline;
  width: 90%;
  padding: 50px;
}

.footer .first-div .down {
  padding-top: 190px;
  text-align: right;
  float: right;
}

.footer form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer .first-div .message {
  background-color: #5dcef6;
  border: 1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 20px;
  overflow: visible;
}

.footer .first-div h4 {
  color: #566073;
  font-family: 'Sentic Text';
  padding-top: 1rem;
}

.footer .first-div h2 {
  color: #151c55;
  font-family: 'Sentic Text';
  padding-top: 1rem;
}

.footer .first-div p {
  color: #151c55;
  font-family: 'Sentic Text';
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer .row {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}

.footer .row .left {
  padding-left: 100px;
  float: left;
}

.footer .row .left h3 {
  color: #151c55;
  font-family: 'Sentic Text';
  padding-bottom: 5rem;
}

.footer .row .right {
  float: right;
  padding-right: 100px;
}

.footer .row .right .img-spacing {
  float: right;
  padding-right: 10px;
}

.footer .row .right img {
  float: right;
  height: 20px;
  width: 20px;
}

.social-media {
  border-width: 1px;
  border-color: #6160f6;
  border-style: solid;
  border-radius: 50%;
  background-color: #f2f2ff;
  overflow: visible;
  padding: 30px;
}
//------------------------------------------------------------------------------------------------------------------------------------------

.first-background {
  background: url("/assets/banner bg.png") center repeat-x ;
  background-size: 100% 100%;
  width: 100%;
  height: 100rem;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.first-background .first-div {
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 650px;
  padding-bottom: 100px;
}

.first-background .first-div-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding-left: 100px;
  padding-right: 100px;
}

.first-background .first-div-left h1 {
  font-family: 'Sentic Text Bold';
  font-size: 64px;
  color: #151c55;
  padding-bottom: 20px;
}

.first-background .first-div-left h2 {
  font-family: "Patricia Gothic Heavy";
  color: #6160f6;
  padding-bottom: 20px;
}

.first-background .first-div-left p {
  font-family: 'Sentic Text Bold';
  color: #151c55;
  line-height: 1.75;
  padding-bottom: 20px;
}

.first-background .first-div-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

//------------------------------------------------------------------------------------------------------------------------------------------

.first-background .second-div {
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 750px;
}

.first-background .second-div-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.first-background .second-div-left img {
  height: 100%;
}

.first-background .second-div-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 40%;
  padding-left: 100px;
  padding-right: 100px;
}

.first-background .second-div-right h2 {
  font-family: "Patricia Gothic Heavy";
  color: white;
  padding-bottom: 20px;
  font-size: 40px;
}

.first-background .second-div-right p {
  font-family: 'Sentic Text';
  color: white;
  line-height: 1.75;
  padding-bottom: 20px;
}

//------------------------------------------------------------------------------------------------------------------------------------------

.first-background .third-div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 750px;
}

.first-background .third-div-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-family: 'Sentic Text Bold';
  color: white;
  padding: 20px;
}

.first-background .third-div-row h1 {
  font-size: 40px;
}

.first-background .third-div-row h2 {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 60px;
}

.first-background #client {
  color: #f6c644;
}

//------------------------------------------------------------------------------------------------------------------------------------------
.second-background {
  background: url("/assets/second-backgroundddd.png") center repeat-x ;
  background-size: 100% 100%;
  width: 100%;
  height: 160rem;
  padding-top: 6.25rem;
}

.second-background .first-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Sentic Text Bold';
  color: #151c55;
  width: 40%;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 50px;
}

.second-background .first-div h1 {
  font-size: 40px;
  font-family: 'Sentic Text Bold';
  padding-bottom: 30px;
}

.second-background .first-div p {
  text-align: center;
  line-height: 1.75;
}

//------------------------------------------------------------------------------------------------------------------------------------------

.second-background .book-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.second-background .second-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-bottom: 70px;
}

.second-background .second-div h2 {
  color: white;
  font-family: 'Patricia Gothic Heavy';
  padding-top: 30px;
}

.second-background .second-div h3 {
  color: #5dcef6;
  font-family: 'Sentic Text Bold';
  padding-top: 30px;
}

.second-background .second-div img {
  height: 100%;
  width: 400px;
}

//------------------------------------------------------------------------------------------------------------------------------------------

.second-background .third-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 350px;
}

.second-background .third-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.second-background .third-div .first-sub-div {
  align-items: left;
  width: 100%;
  padding-left: 23%;
  padding-bottom: 100px;
}

.second-background .third-div .second-sub-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.second-background .third-div .second-sub-div p {
  line-height: 1.75;
}

.second-background .third-div .second-sub-div .reasons {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 20%;
  padding-left: 60px;
  padding-right: 60px;
}

.second-background .third-div .second-sub-div .reasons img {
  width: 80px;
  height: 80px;
}

.second-background .third-div h1 {
  color: white;
  font-family: 'Sentic Text Bold';
  padding-top: 10px;
}

.second-background .third-div h3 {
  color: #f6c644;
  font-family: 'Sentic Text Bold';
  padding-top: 30px;
}

.second-background .third-div h2 {
  color: white;
  font-family: 'Sentic Text Bold';
  padding-top: 30px;
}

.second-background .third-div p {
  color: white;
  font-family: 'Sentic Text';
  padding-top: 30px;
}

//------------------------------------------------------------------------------------------------------------------------------------------

.second-background .fourth-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.second-background .fourth-div h2 {
  color: #151c55;
  font-family: 'Sentic Text Bold';
  padding-top: 30px;
}

.second-background .fourth-div h4 {
  color: #5dcef6;
  font-family: 'Sentic Text';
  padding-top: 15px;
}

.second-background .fourth-div .binance-logo {
  padding-right: 15px;
}

.second-background .fourth-div .binance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #898da9;
  font-family: 'Sentic Text';
  padding-top: 30px;
  padding-bottom: 30px;
}

.second-background .fourth-div .review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("/assets/review-background.png") center repeat-x ;
  background-size: 100% 100%;
  width: 65%;
  height: 400px;
}

.second-background .fourth-div .review .icon {
  width: 100px;
  height: 100px;
}

.second-background .fourth-div .review .star {
  width: 200px;
  height: 200px;
}

.second-background .fourth-div .review h3 {
  width: 75%;
  text-align: center;
  font-family: 'Sentic Text';
  color: white;
  padding-top: 10px;
  line-height: 1.75;
}

//------------------------------------------------------------------------------------------------------------------------------------------

.third-background {
  background-color: #f2f5f8;
  width: 100%;
  height: 50rem;
}

.third-background .first-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px;
}

.third-background .first-div .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 10px;
}

.third-background .first-div .row h1 {
  font-size: 40px;
  padding-bottom: 30px;
  color:#151c55;
  font-family: 'Patricia Gothic Heavy';
}

.third-background .first-div .row h2 {
  color: #6160f6;
  font-family: 'Patricia Gothic Heavy';
}

.third-background .first-div .row h3 {
  padding-bottom: 20px;
  color:#151c55;
  font-family: 'Patricia Gothic Heavy';
}

//------------------------------------------------------------------------------------------------------------------------------------------

.show {
  width: 100%;
  height: 40rem;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.show .first-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 4%;
}

.show .first-div h1 {
  font-size: 50px;
  color:#151c55;
  font-family: 'Patricia Gothic Heavy';
}

.show .second-div .row {
  display: flex;
  flex-direction: row;
}

.show .second-div .column {
  display: flex;
  flex-direction: column;
}

.show .second-div {
  display: flex;
  flex-direction: row;
}

.show .second-div .left {
  justify-content: center;
  padding-right: 5%;
}

.show .second-div .left img {
  width: 350px;
  height: 500px;
  border-radius: 10px;
}

.show .second-div .book-title {
  display: flex;
  flex-direction: column;
  padding-bottom: 7%;
}

.show .second-div .book-authors {
  display: flex;
  flex-direction: column;
}
.show .second-div .book-details {
  display: flex;
  flex-direction: column;
}

.show .second-div h1 {
  color:#151c55;
  font-family: 'Patricia Gothic Heavy';
}

.show .second-div h2 {
  color:#151c55;
  font-family: 'Sentic Text Bold';
  padding-bottom: 50px;
}

.show .second-div .description {
  color:#151c55;
  font-family: 'Sentic Text Bold';
  padding-bottom: 20px;
}

.show .second-div .value {
  color:#5dcef6;
  font-family: 'Sentic Text Bold';
  padding-bottom: 20px;
}

//------------------------------------------------------------------------------------------------------------------------------------------

.convert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.convert h1, h2, form {
  color:#151c55;
  font-family: 'Sentic Text Bold';
  padding-bottom: 20px;
}
