.main-button {
    background-color: #6160f6;
    text-align: center;
    text-decoration: none;
    font-family: 'Caros';
    font-size: 1.5rem;
    border: 0;
    border-radius: 1rem;
    color: white;
    padding: 1.25rem;
    width: 15.625rem;
}

.small-main-button {
    background-color: #6160f6;
    text-align: center;
    text-decoration: none;
    font-family: 'Caros';
    font-size: 1rem;
    border: 0;
    border-radius: 1rem;
    color: white;
    padding: 1.25rem;
    width: 9.375rem;
}

.alt-button {
    background-color: #151c55;
    text-align: center;
    text-decoration: none;
    font-family: 'Caros';
    font-size: 1.5rem;
    border: 0;
    border-radius: 1rem;
    color: #5dcef6;
    padding: 1.25rem;
    width: 15.625rem;
}