@font-face {
    font-family: "Sentic Text";
    src: font-url("/assets/sentic-text.ttf") format('truetype');
}

@font-face {
    font-family: "Sentic Text Bold";
    src: font-url("/assets/sentic-text-bold.ttf") format('truetype');
}

@font-face {
    font-family: "Patricia Gothic";
    src: font-url("/assets/patricia-gothic.ttf") format('truetype');
}

@font-face {
    font-family: "Patricia Gothic Heavy";
    src: font-url("/assets/patricia-gothic-heavy.ttf") format('truetype');
}

@font-face {
    font-family: "Lexend Bold";
    src: font-url("/assets/lexend-bold.ttf") format('truetype');
}

@font-face {
    font-family: "Caros";
    src: font-url("/assets/caros.ttf") format('truetype');
}